<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <meta name="description" content="< locals.pageDescription >" />
    <link rel="stylesheet" href="/css/navigation_bar.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>
  <body>
    <div style="margin-bottom: 100px;">
      <%- include("../header_footer/header") %>
    </div>
    <% if (action == "show" || action == "edit" || action == "create" || action == "home" || action =="blog") { %>
      <div>
        <% } else { %>
      <div style="margin-left: 400px;">
        <% } %>
        <%- body %>
      </div>
      <%- include("../header_footer/footer") %>
  </body>
</html>