<div class="topnav">
    <div style='margin-right: 275px'>
    <% if (authenticated) { %>
      <a href="/logout">Logout</a>
      <% } else { %>
        <a href="/login">Login</a>
        <% } %>
        <a href="/about">About us</a>
        <a href="/blog">Blog</a>
        <a class="active" href="/">Home</a>
      </div>
      <div>
        <h2>RLeague News</h2>
        <hr>
    </div>
</div>