<link rel="stylesheet" href="/css/button.css" />
<div id="topNav" class="topnav">
  <div style='margin-right: 275px'>
    <% if (authenticated) { %>
      <form action="/logout" method="GET">
        <button class="navBtn" type="submit">
          <span style="font-weight: bold;">Logout</span>
        </button>
      </form>
    <% } else { %>
      <form action="/login" method="GET">
        <button class="navBtn" type="submit">
          <span style="font-weight: bold;">Login</span>
        </button>
      </form>
    <% } %>
    <form action="/blog" method="GET">
      <button class="navBtn" type="submit">
        <span style="font-weight: bold;">Blog</span>
      </button>
    </form>
    <form action="/" method="GET">
      <button class="navBtn" type="submit">
        <span style="font-weight: bold;">Home</span>
      </button>
    </form>
    <% if (admin) { %>
      <form action="/dashboard" method="GET">
        <button class="navBtn" type="submit">
          <span style="font-weight: bold;">Dashboard</span>
        </button>
      </form>
    <% } %>
  </div>
  <div>
    <h2>RLeague News</h2>
  </div>
</div>
